body {
    /*background-color: #000000;*/
}

.wrapper {
    width: 960px;
    margin: auto;
    border: 1px solid;

}

.logo {
    padding-left: 0;
}

.logo img {
    height: 50px;
}

.login {
    margin-top: 15px;
}
.row {
    margin: 0;
}

#myCarousel .item{
    background: #333;
    text-align: center;
    height: 400px !important;
}

#myCarousel .image1 img{
    position: absolute;
    height: 400px;
    width: 960px;

}

#myCarousel .image2 img{
    height: 500px;
    width: 960px;
    position: absolute;
    margin-top: -100px;
}

#myCarousel .image3 {
    background-color: #000000;
}

#myCarousel .image3 img {
    position: absolute;
    height: 450px;
    width: 800px;
    margin-top: -25px;
    margin-left: 80px;
}

.indent-item {
    padding-left: 65px;
}

.indent-item-2 {
    padding-left: 122px;
}

#advertising .content img {
    height: 150px;
    margin-bottom: 20px;
}
