body {
    /*background-color: #000000;*/
}

.wrapper {
    width: 960px;
    margin: auto;
    border: 1px solid;

}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid;
}

.row {
    margin: 0;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
